* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
}

.main__container {
  width: 550px;
  height: max-content;
  background-color: white;
}

.main__container .title {
  text-align: center;
  font-size: x-large;
  padding: 20px;
}

.main__container .gender__container {
  padding: 20px;
}

.main__container .gender__container ul {
  display: flex;
  justify-content: center;
}

.main__container .gender__container ul li {
  width: 135px;
  text-align: center;
  background: #e9ecf1;
  border-right: 1px solid #c1c4c9;
  padding: 13px 15px;
  cursor: pointer;

  transition: all 0.2s ease;
}

.main__container .gender__container ul li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main__container .gender__container ul li:last-child {
  border-right: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main__container .gender__container ul li:hover,
.main__container .gender__container ul li.active {
  background: #7fc469;
  color: white;
}
.gender__container {
  padding: 10px 20px;
  cursor: pointer;
}

.gender__container:hover {
  background: white;
  cursor: pointer;
}

.body__container .person_tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person__container .person_tab .person_tab_left {
  display: flex;
  align-items: center;
}

.person__container .person_tab_left img {
  width: 70px;
  height: 70px;
  display: block;
}

.person__container .person_tab_left .person_data {
  margin-left: 20px;
}

.name {
  font-weight: 600;
}

.distance {
  color: gray;
  font-size: 14px;
  margin-top: 3px;
}

.status {
  position: relative;
  color: gray;
}
.status:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
}
.person__container.online .person_tab_right .status:before {
  background: #7fc469;
}
